<%- include('header', {title: `Edit Sighting`}); -%>
  
    <form action="/sighting/<%= sight.index %>?_method=PUT" method="POST">
    <label for="city">City:</label><br />
      <input type="text" id="city" name="city" value="<%= sight.city %>"/><br />
      <label for="state">State:</label><br />
      <input type="text" id="state" name="state" value="<%= sight.state %>"/><br />
      <label for="shape">Shape:</label><br />
      <select id="shape" name="shape" >
        <option value="" selected="selected" hidden="hidden">Choose here</option>
        <option value="Fireball">Fireball</option>
        <option value="Sphere">Sphere</option>
      </select><br />
      <label for="text">Observed:</label><br />
      <textarea name="text" rows="10" cols="30"><%= sight.text %></textarea><br />
      <label for="summary">Summary:</label><br />
      <textarea name="summary" rows="10" cols="30"><%= sight.summary %></textarea><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>