<%- include('header'); -%>

<body class="bg-dark">
  <div class="container ml-1 text-white">
    <br />
    <h1>Edit Your Sighting</h1>

    <form action="/sighting/<%= index %>/edit?_method=PUT" method="POST">
      <label for="date_time">Date & Time :</label><br />
      <input
        type="text"
        id="date_time"
        name="date_time"
        class="form-control"
        value="<%= sightings.date_time %>"
      /><br />
      <div class="row">
        <div class="col">
          <label for="city">City:</label><br />
          <input
            type="text"
            id="city"
            name="city"
            class="form-control"
            value="<%=sightings.city%>"
          />
        </div>
        <div class="col">
          <label for="state">State:</label><br />
          <input
            type="text"
            id="state"
            name="state"
            class="form-control"
            value="<%= sightings.state %>"
          />
        </div>
      </div>
      <br />
      <label for="shape">Shape:</label><br />
      <input
        type="text"
        id="shape"
        name="shape"
        class="form-control"
        value="<%= sightings.shape %>"
      /><br />
      <label for="duration">Duration:</label><br />
      <input
        type="text"
        id="duration"
        name="duration"
        class="form-control"
        value="<%= sightings.duration %>"
      /><br />
      <label for="description">Description:</label><br />
      <textarea
        type="text"
        id="description"
        name="description"
        rows="4"
        cols="40"
        class="form-control"
        required
      >
<%= sightings.text %>
      </textarea>
      <br />
      <label for="summary">Summary:</label><br />
      <input
        type="text"
        id="summary"
        name="summary"
        class="form-control"
        value="<%= sightings.summary %>"
      /><br />
      <input type="submit" value="Update Sighting" class="submit-btn" />
    </form>
  </div>
</body>
<!-- <%- include('footer'); -%> -->
