<html>
  <%- include('partials-template/head'); %>
  <body>
    <%- include('partials-template/body'); %>
    <div id="home-desc" class="text-center">🧠 Welcome Earthling 🌳</div>
    <div class="btn-group-vertical home-button-nav-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary home-button-nav">
        <a href= <%= routeToViewAll %>><div class="home-button-nav-desc">
        <div class="home-button-nav-desc">
        All
        </div>
        </a>
      </button>
      <button type="button" class="btn btn-outline-primary home-button-nav">
        
        <a href= <%= routeToAllFavs %>><div class="home-button-nav-desc">
        
             <div class="home-button-nav-desc">
              Favs
            </div>
        </a>

      </button>
      <button type="button" class="btn btn-outline-primary home-button-nav">
        <a href= <%= routeToShapeListing %>><div class="home-button-nav-desc">
          <div class="home-button-nav-desc">
            Shapes Listing
          </div>
        </a>
      </button>
    </div>

      <button type="button" class="btn btn-outline-primary home-button-nav home-button-nav-desc-margin-add-sighting-wrap">
        <a href= <%= routeNewSightingForm %>><div class="home-button-nav-desc">
        <div class="home-button-nav-desc home-button-nav-desc-margin-add-sighting">
        Add Sighting
        </div>
        </a>
      </button>




    
  </body>
</html>
