<%- include('header'); -%>
<body class="bg-color">
<div class="container text-center ">
<br/>
<h1>List of Sightings</h1><br />
<table class="table table-hover">
<thead>
<tr>
<th>No</th>
<th>Date</th>
<th>City</th>
<th>State</th>
<th>Shape</th>
<th>Duration</th>
<th></th>
</tr>
</thead>
<tbody>
 <% for( let i = 0; i < sightings.length; i++ ) { %> 
<tr>
    <td><%= i + 1 %></td>
    <td><%= sightings[i].date_time %></td>
    <td><%= sightings[i].city %></td>
    <td><%= sightings[i].state %></td>
    <td><%= sightings[i].shape %></td>
    <td><%= sightings[i].duration %></td>
    <td>
      <a href="/sighting/<%= i %>" class="btn btn-info">Details</a>
    </td>
<% } %>
</tr>
</tbody>
</table>
<br />
<a href="/sighting">
<input type="button" value="Add New Sighting" class="btn bg-primary text-white btn-lg"/>
</a>

</body>
<%- include('footer'); -%>
