<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">UFO Sightings</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link<%= ((page === 'new') || page.startsWith('shapes') || (page === 'favorites')) ? '' : ' active' %>"
          <%= ((page === 'new') || page.startsWith('shapes') || (page === 'favorites')) ? '' : 'aria-current="page"' %>
          href="/"
          >Home</a
        >
        <a
          class="nav-link<%= (page === 'new') ? ' active' : '' %>"
          <%= (page === 'new') ? 'aria-current="page"' : '' %>
          href="/sighting"
          >New Sighting</a
        >
        <a
          class="nav-link<%= page.startsWith('shapes') ? ' active' : '' %>"
          <%= page.startsWith('shapes') ? 'aria-current="page"' : '' %>
          href="/shapes"
          >Shapes</a
        >
        <a
          class="nav-link<%= (page === 'favorites') ? ' active' : '' %>"
          <%= (page === 'favorites') ? 'aria-current="page"' : '' %>
          href="/favorites"
          >Favorites</a
        >
      </div>
    </div>
  </div>
</nav>
