<%- include('header'); -%>
<body class="bg-info">
  <div class="container text-center">
    <br />
    <h1>List of Sightings Shapes</h1>
    <br />
    <% for( let i = 0; i < filteredShapeList.length; i++ ) { %>
    <a href="/shapes/<%= filteredShapeList[i] %>"
      ><p><%= i +1%>: <%= filteredShapeList[i] %></p></a
    >
    <% } %>
    <br />
  </div>
</body>
<%- include('footer'); -%>
