<html>
  <%- include('partials-template/head'); %>
  <body>
    <%- include('partials-template/body'); %>

    <div><%= index %></div>


    <% if(isNew){ %>
      <div>NEW</div>
    <% } %>

    <% Object.entries(sighting).forEach(
      ([key,value]) => { 
    %>  
    <div> <%= key %></div>
    <div> <%= value %></div>
    <%}) %>


   <a href=<%= editRoute %>>EDIT</a> 
  </body>
</html>

