<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sighting</h1>
    <ul>
      <li><%= sighting.text %></li>
      <li><%= sighting.date_time %></li>
      <li><%= sighting.city %>, <%= sighting.state %></li>
      <li><%= sighting.shape %></li>
      <li><%= sighting.duration %></li>
      <li><%= sighting.summary %></li>
      <li><%= sighting.created_time %></li>
    </ul>
  </body>
</html>
