<%- include('header') -%>
<h1>Sightings</h1>
<h2>Sighting List</h2>
<p>Date | Shape | City</p>
<ul>
  <% sightings.forEach((sighting) => { %>
  <li>
    <a href="/sighting/<%= sighting.index %>"
      ><%= sighting.date_time %>, <%= sighting.shape %>, <%= sighting.city %>,
      <%= sighting.state %></a
    >
    <% if(source === 'root') { %>
    <form action="/sighting/<%= sighting.index %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
    <% } %>
  </li>
  <% }); %>
</ul>
<%- include('footer') -%>
