<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
  <body>
    <%- include('navigation', { page: 'sighting' }); -%>
    <div class="container">
      <div class="row">
        <h1>Sighting</h1>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li><%= sighting.text %></li>
            <li><%= sighting.date_time %></li>
            <li><%= sighting.city %>, <%= sighting.state %></li>
            <li><%= sighting.shape %></li>
            <li><%= sighting.duration %></li>
            <li><%= sighting.summary %></li>
            <li><%= sighting.created_time %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
