<html>
  <%- include('partials-template/head'); %>
  <body>
    <%- include('partials-template/body'); %>

    <div class="card sighting-one-full-card">
      <div class="row justify-content-center"> #<%= index %></div>

      <% if(isNew){ %>
        <div>NEW</div>
      <% } %>

      <div class="sighting-one-full-card-info-group">
        <% Object.entries(sighting).forEach(([key,value]) => { %>  
          <div class="row">
            <div class="col sighting-one-full-card-info-key"> <%= key %></div>
            <div class="col sighting-one-full-card-info-value"> <%= value %></div>
          </div>
        <%}) %>
      </div>
      <div class="sighting-one-edit-a">
        <a href=<%= editRoute %>>EDIT</a> 
      </div>



      <form action=<%= routeToAddFav %> method="POST">
          <input type="hidden" id="index" name="index" value=<%= index %>>
          <div class=" sighting-one-fav-add">
            <input class=" sighting-one-fav-add-input" type="submit" value="💕">
          </div>
      </form> 
    </div>
      
    </div>
  </body>
</html>

