<%- include('header'); -%>
<body class="bg-dark">
  <div class="container ml-1">
  <br />
  <h1>UFO Sighting Details</h1>
  <br />
  <p class="text-white">
    <strong>Date Time:</strong> <%= sightings.date_time %>
    <br />
    <strong>City:</strong> <%= sightings.city %>
    <br />
    <strong>State:</strong> <%= sightings.state %>
    <br />
    <strong>Shape:</strong> <%= sightings.shape %>
    <br />
    <strong>Statement:</strong> <%= sightings.text %>
    <br />
    <strong>Summary:</strong> <%= sightings.summary %>
  </p>
  <div class="d-flex flex-row">
    <a href="<%= index %>/edit">
      <input type="button" value="Edit Sighting" class="mr-1 btn btn-primary"/>
    </a>
    <form action="/sighting/<%= index %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" class="btn btn-primary"/>
    </form>
  </div>
</body>
</div>
<%- include('footer'); -%>
