<html>
  <body>
    <h1>UFO Sighting Details</h1>
    <p>
      DateTime: <%= sightings.date_time %>
      <br />
      City: <%= sightings.city %>
      <br />
      State: <%= sightings.state %>
      <br />
      Shape: <%= sightings.shape %>
      <br />
      Description: <%= sightings.text %>
    </p>
    <a href="/sightings">Back to Index Page</a>
  </body>
</html>
