<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>UFO</title>
  </head>
  <body>
    <!-- start of nav bar -->
    <!-- .navbar-expand-xl|lg|md|sm (stacks the navbar vertically on extra large, large, medium or small screens). -->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-start align-items-center"
    >
      <!-- character -->
      <div class="Character">
        <img
          class="Character_spritesheet pixelart"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DemoRpgCharacter.png"
          alt="Character"
        />
      </div>
      <!-- links -->
      <div><p class="nav-word">NAV:</p></div>
      <div class="nav-links">
        <a class="sightings-form" href="http://localhost:3004/sighting">
          Post Sightings |</a
        >
        <a class="sightings-list" href="http://localhost:3004/">
          Sightings List |</a
        >
        <a class="shapes" href="http://localhost:3004/fav"> Fav | </a>
      </div>
      <!-- unique visitors / counts -->
      <div class="visit-counts">
        <p class="unique-visitor">
          Unique Visitor: <%= visits[0].uniqueVisitors %>
        </p>
        <p class="total-visitor">
          | Total Visit Count: <%= visits[0].totalVisitCount %>
        </p>
      </div>
    </nav>
    <!-- end of nav bar -->
    <!--sightings title -->
    <div class="d-flex justify-content-center mt-3 mb-3">
      <H2>SIGHTINGS!</H2>
    </div>
    <!-- end of-sightings title -->

    <!-- Dropdown button -->
    <div class="dropdown d-flex justify-content-center">
      <a
        class="btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown link
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="latest-date">Latest</a>
        <a class="dropdown-item" href="earliest-date">Earliest</a>
      </div>
    </div>
    <!-- end of dropdown sort button -->
    <div class="d-flex justify-content-center">
      <div class="container-list mt-5 mb-5">
        <!-- mini nav bar-->
        <nav
          class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-start align-items-center"
        >
          <div class="nav-links">
            <a class="date-link" href="http://localhost:3004/"> Date |</a>
            <a class="shape-link" href="http://localhost:3004/shape">
              Shape |</a
            >
            <a class="city-link" href="http://localhost:3004/city"> City </a>
          </div>
        </nav>
        <!-- end of nav bar -->
        <!-- sorted items does not delete properly, because we are not actually sorting the data in data.json.  -->

        <% for (let i =0; i < sightings.length; i++ ) { %>
        <div class="mini-container">
          <a class="sightings-links" href="/sighting/<%= i %>">
            Date: <%= sightings[i].date_time %>
          </a>
          <!-- Creating a delete button link for each row -->
          <form action="/sighting/<%= i %>?_method=DELETE" method="POST">
            <input
              class="btn btn-delete btn-info active"
              type="submit"
              value="Delete"
            />
          </form>
          <!-- Creating an edit button link for each row -->
          <a
            href="sighting/<%= i %>/edit"
            class="btn btn-edit btn-info active"
            role="button"
            aria-pressed="true"
            >Edit</a
          >
        </div>
        <% } %>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
