<%- include('header', {title: `Sightings`}); -%>
    <form action="/sighting/<%= index %>?_method=DELETE" method="POST">
      <div class="view">
      <p class="label">City:</p>
      <p class="field-values"><%= city %></p>
      <p class="label">State:</p>
      <p class="field-values"><%= state %></p>
      <p class="label">Date & Time:</p>
      <p class="field-values"><%= date%> <%= time%></p>
      <p class="label">Shape:</p>
      <p class="field-values"><%= shape %></p>
      <p class="label">Observed:</p>
      <p class="field-values"><%= text %></p>
      <p class="label">Summary:</p>
      <p class="field-values"><%= summary %></p>
      <p class="label">Created:</p>
      <p class="field-values"><%= created_datetime %> (<%= created_ago %>)</p>
      <br>
      
<a href="/favourites/<%= index %>">
      <input type="button" value=<%= (isFav==="yes") ? "Unlike" : "Like"
      %> class="btn">
      </input>
  </a>

      <a href="/sighting/<%= index %>/edit"><input type="button" value="Edit" class="btn" /></a>

      <input class="btn" type="submit" value="Delete" />
      </div>
    </form>
    
    <br />
    
  </body>
</html>