<%- include('header', {title: `Sightings`}); -%>
  
    <form action="/sighting/<%= index %>?_method=DELETE" method="POST">
      <div>
      <p>Text:<%= text %></p>
      <p>City:<%= city %></p>
      <p>State:<%= state %></p>
      <p>Shape:<%= shape %></p>
      <p>Summary:<%= summary %></p>
      
      <a href="/sighting/<%= index %>/edit"><input type="button" value="Edit" class="btn" /></a>

      <input class="btn" type="submit" value="Delete" />
      </div>
    </form>
    
    <br />
    
  </body>
</html>